body {
  font-family: 'Crimson Text', sans-serif !important;
}

img, a, a:focus {
    outline: none;
}

.navbar-light {
  background-color: #89ABE3;
  font-family:Cabin !important;
}

a {
border-bottom:solid 1px transparent;
}

.bottom-container {
  background-color: #BFC7D6;
}

a:hover {
    text-decoration: none;
}

.h5-title {
	color: #005CB7;
}

p.pubs {
	line-height: 1.0; 
}

@media only screen and (max-width: 768px) {
  .container-fluid
  {
    text-align: center;
  }
}