body {
  font-family: 'Crimson Text', sans-serif !important;
}

img, a, a:focus {
    outline: none;
}

a {
border-bottom:solid 1px transparent;
}

a:hover {
    text-decoration: none;
}

.h5-title {
	color: #005CB7;
}